:root {
  --navy: #0D3B66;
  --light: #FAF0CA;
  --yellow: #F4D35E;
  --orange: #EE964B;
  --red: #F95738;
}

@font-face {
  font-family: 'SleepyCat';
  src: local('SleepyCat'), url(./fonts/SleepyCat.ttf) format('woff');
}

@font-face {
  font-family: 'Cattino';
  src: local('Cattino'), url(./fonts/Cattino.otf) format('woff');
}

body {
  background-color: var(--light);
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 54px;
  padding: 0.9em;
}

.header__title {
  color: var(--navy);
  font-family: 'Cattino';
  font-size: 3rem;
  line-height: 1.2;
}

.cards__wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1000px;
}

.card {
  padding: 1.5em;
  border: 6px solid var(--red);
  max-width: 250px;
  min-width: 180px;
  border-radius: 7px;
  background:var(--yellow);
  margin-bottom: 1em;
  box-shadow: 0 4px 8px 0 rgb(13, 59, 102, 0.4);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgb(13, 59, 102, 0.9);
}

.card__text {
  color: var(--navy);
  font-family: 'SleepyCat';
  line-height: 1.4;
  font-size: 1.7rem;
}

.card__header {
  font-size: 2rem;
}

.card__image {
  width: 100%;
  border-radius: 5px;
  margin-top: .5em;
  margin-bottom: .5em;
}

.links {
  color: var(--yellow);
  font-family: 'Cattino';
  font-size: 1.5em;
  text-decoration: none;
}

.links:hover {
  color: var(--red);
}

.nav__container {
  background: var(--navy);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: 0 3px 7px 0 rgb(13, 59, 102, 0.2);
}

.nav {
  height: 3.5em;
}

.footer {
  min-height: 230px;
  line-height: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__section {
  min-width: 150px;
}

.sticky {
  position: fixed;
  max-width: 1000px;
}

.icon {
  max-width: 30px;
}